.now-playing{
    grid-area: now-playing;
    background-color: #000;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.now-playing > div{
    width: calc(100%/3);
}
