.icon-with-text{
    display: flex;
    gap: 16px;
    align-items: center;
    cursor: pointer;
}

.icon-with-text-svg{
    width: 24px;
    height: 24px;
}

.icon-with-text-svg svg{
    fill: #fff;
}

.icon-with-text-text{
    font-size: 1rem;
    color: #a7a7a7;
    font-weight: 700;
}

.icon-with-text-text:hover{
    color: #fff;
    fill: #fff;

}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.icon-svg{
    width: 16px;
    height: 16px;
}

.icon:hover{
    background-color: #1a1a1a;
}

.icon-svg svg{
    fill: #a7a7a7;
}

.icon-svg svg:hover{
    fill: #fff;
}

.button{
    display: flex;
    background-color: #fff;
    display: inline-block;
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
    padding: 7px 20px;
    cursor: pointer;
}

.button-text{
    color: #000;
    font-weight: 700;
}

.button:hover{
    background-color: #f6f6f6;
}

.button-text:hover{
    transform: scale(1.04);
}