/*
    IconWithText
*/

.icon-with-text{
    display: flex;
    gap: 16px;
    align-items: center;
    cursor: pointer;
}

.icon-with-text-svg{
    width: 24px;
    height: 24px;
}

.icon-with-text-svg{
    fill: #a7a7a7;
}

.icon-with-text-text{
    font-size: 1rem;
    color: #a7a7a7;
    font-weight: 700;
}

.icon-with-text:hover .icon-with-text-text{
    color: #fff;
}

.icon-with-text:hover .icon-with-text-svg{
    fill: #fff;
}

/* Icon */

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.icon-svg{
    width: 16px;
    height: 16px;
}

.icon:hover{
    background-color: #1a1a1a;
}

.icon-svg{
    fill: #a7a7a7;
}

.icon:hover .icon-svg{
    fill: #fff;
}

/* Button */

.button{
    background-color: #fff;
    display: inline-flex;
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
    padding: 7px 20px;
    cursor: pointer;
}

.button-text{
    color: #000;
    font-weight: 700;
}

.button:hover{
    background-color: #f6f6f6;
    transform: scale(1.04);
}

/* ButtonWithIcon */

.button-with-icon{
    background-color: #fff;
    display: inline-flex;
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
    padding: 7px 20px;
    cursor: pointer;
    gap: 8px;
}

.button-with-icon-svg{
    width: 16px;
    height: 16px;
}

.button-with-icon-text{
    color: #000;
    font-weight: 700;
}

.button-with-icon:hover{
    background-color: #f6f6f6;
    transform: scale(1.04);
}

.button-with-icon.dark{
    background-color: rgba(0,0,0,0.54);
}

.button-with-icon.dark .button-with-icon-svg{
    fill: #fff;
}

.button-with-icon.dark .button-with-icon-text{
    color: #fff;
}