.album-row{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;
}

.album-row-header{
    font-size: 1.5em;
    font-weight: 700;
    padding: 8px;
}

.album-row-cards{
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 8px;
    overflow-x: scroll;
    white-space: nowrap;
}

.album-row-cards::-webkit-scrollbar {
    height: 6px;
}
