.your-library{
    grid-area: your-library;
    background-color: #121212;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.your-library-header{
    display: flex;
    justify-content: space-between;
    color: #a7a7a7;
    align-items: center;
    padding: 8px;
}

.your-library-header-icons{
    display: flex;
    gap: 1rem;
}

.your-library-content{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 8px;
}
