.your-library{
    grid-area: your-library;
    background-color: #121212;
    border-radius: 8px;
    padding: 20px 30px;
}

.your-library-header{
    display: flex;
    justify-content: space-between;
    color: #a7a7a7;
    align-items: center;
}

.your-library-header-icons{
    display: flex;
    gap: 1rem;
}
