.app-wrapper{
    display: grid;
    grid-template-rows: auto 1fr 5rem;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
    "nav-box main" 
    "your-library main" 
    "now-playing now-playing"
    ;
    gap: 8px;
    padding: 8px;
    height: 100vh;
}
