.album-details{
    display: flex;
    flex-direction: column;
    background: rgb(18,18,18);
    background: linear-gradient(0deg, rgba(18,18,18,1) 0%, rgba(71,97,82,1) 100%);
}

.album-header{
    background: rgb(71,97,82);
    background: linear-gradient(0deg, rgba(71,97,82,1) 0%, rgba(18,18,18,1) 100%);
    display: flex;
    gap: 24px;
    padding-top: 150px;
    padding-bottom: 25px;
    padding-left: 25px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    align-self: stretch;
}

.album-header-art{
    width: 220px;
    height: 220px;
}

.album-header-art:hover{
    transform: scale(1.02);
    transition-property: transform;
    transition-duration: .1s;
    cursor: pointer;
}

.album-header-art:not(:hover){
    transform: scale(1);
    transition-property: transform;
    transition-duration: .1s;
}

.album-header-art img{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 4px 60px rgba(0,0,0,.5);
    border-radius: 8px;
}

.album-header-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 8px;
}

.album-header-category{
    font-weight: 400;
    font-size: 0.875rem;
}

.album-header-title{
    font-size: 2rem;
    font-weight: 900;
}

.album-header-details{
    display: flex;
    gap: 8px;
    align-items: center;
}

.album-header-artist-image{
    width: 24px;
    height: 24px;
}

.album-header-artist-image img{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.album-header-summary{
    font-weight: 400;
    font-size: 0.875rem;
}

.album-body{
    background: rgb(18,18,18);
    background: linear-gradient(0deg, rgba(18,18,18,1) 0%, rgba(71,97,82,1) 100%);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    padding: 8px;
}

.album-body-controls{
    display: flex;
    justify-content: space-between;
    padding: 24px;
    align-items: center;
    align-self: stretch;
}

.album-body-controls-left{
    display: flex;
    gap: 32px;
    align-items: center;
}

.album-body-controls-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.album-body-controls-play{
    background-color: #1ed760;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 60px rgba(0,0,0,.5);
}

.album-body-controls-play:hover{
    transform: scale(1.04);
    background-color: #22e367;
    transition-property: transform, background-color;
    transition-duration: .1s;
}

.album-body-controls-play:not(:hover){
    transform: scale(1);
    background-color: #1ed760;
    transition-property: transform, background-color;
    transition-duration: .1s;
}

.album-body-controls-play svg{
    width: 24px;
    height: 24px;
}

.album-body-controls-heart{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.album-body-controls-heart svg{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    fill: #a7a7a7;
}

.album-body-controls-heart svg:hover{
    fill: #fff;
    transition: fill .1s;
}

.album-body-controls-heart svg:not(:hover){
    fill: #a7a7a7;
    transition: fill .1s;
}

.album-body-controls-overflow{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.album-body-controls-overflow svg{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    fill: #a7a7a7;
}

.album-body-controls-overflow svg:hover{
    fill: #fff;
    transition: fill .1s;
}

.album-body-controls-overflow svg:not(:hover){
    fill: #a7a7a7;
    transition: fill .1s;
}

.album-body-controls-view{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.album-body-controls-view svg{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    fill: #a7a7a7;
}

.album-body-controls-view svg:hover{
    fill: #fff;
    transition: fill .1s;
}

.album-body-controls-view svg:not(:hover){
    fill: #a7a7a7;
    transition: fill .1s;
}

.album-body-songs{
    align-self: stretch;
    display: flex;
    flex-direction: column;
    padding: 24px;
}

/* Header styles need to be cleaned */

.album-body-songs-header{
    display: flex;
    color: #a7a7a7;
    align-self: stretch;
    width: 100%;
    border-bottom: 1px solid #747474;
    padding-bottom: 10px;
}

.album-body-songs-index-header{
    width: 10%;
    text-align: left;
    padding-left: 20px;
}

.album-body-songs-title-header{
    width: 70%;
    text-align: left;
}

.album-body-songs-dur-header{
    width: 20%;
    text-align: right;
    padding-right: 20px;
}

.album-body-songs-dur-header svg{
    width: 16px;
    height: 16px;
    fill: #a7a7a7;
}

/* */

.album-body-songs-list{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 32px;
}

.album-body-song{
    display: flex;
    align-items: flex-start;
}

.album-body-song-index{
    width: 10%;
    text-align: left;
    padding-left: 20px;
}

.album-body-song-details{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.album-body-song-dur{
    width: 20%;
    text-align: right;
    padding-right: 20px;
}

.album-body-song-artist{
    color: #a7a7a7;
}
